@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Protest Guerrilla',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
}

#root {
  @apply w-full;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}

h1 {
  font-family: 'Protest Guerrilla', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Cantarell', sans-serif;
}